<div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="assets/layouts/layout3/img/logo-default.jpg" alt="logo" class="logo-default img-responsive hidden-xs">
                        <img src="assets/layouts/layout3/img/mlogo.jpg" class="visible-xs img-responsive" />
                    </a>
                </div>
                <a href="javascript:;" class="menu-toggler"></a>
                <div class="top-menu">
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <span class="username username-hide-mobile"><img src="assets/layouts/layout3/img/calander.png" /> Mon 4/14/2017</span>
                                </a>
                            </li>
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img src="assets/layouts/layout3/img/setting.png" />
                                    <span class="username username-hide-mobile">John Smith</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">

                                    <li>
                                        <a href="page_user_login_1.html">
                                            <i class="icon-key"></i> Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-header-menu">
                <div class="container">
                    <div class="hor-menu  ">
                        <ul class="nav navbar-nav">
                            <li class="menu-dropdown classic-menu-dropdown">
                                <a href="javascript:;">
                                    <span>
                                        <img src="assets/layouts/layout3/img/01.png" />
                                    </span>
                                    Home
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;">
                                    <span>
                                        <img src="assets/layouts/layout3/img/02.png" />
                                    </span>
                                    Processes
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;">
                                    <span>

                                        <img src="assets/layouts/layout3/img/03.png" />
                                    </span>
                                    Customers
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;">
                                    <span>
                                        <img src="assets/layouts/layout3/img/04.png" />
                                    </span>
                                    Installers
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="menu-dropdown classic-menu-dropdown ">
                                <a href="javascript:;">
                                    <span>
                                        <img src="assets/layouts/layout3/img/05.png" />
                                    </span>
                                    Reports
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown hidden-lg">
                                <a href="javascript:;">
                                    <span>
                                        <img src="assets/layouts/layout3/img/right1b.png" />
                                    </span>                                  
                                    <span class="arrow"></span>
                                </a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown hidden-lg">
                                <a href="javascript:;">
                                    <span>
                                        <img src="assets/layouts/layout3/img/icon-color1b.png" />
                                    </span>
                                    <span class="arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="icon-align-right pull-right visible-lg">
                        <div class="iconright">
                            <span>
                                <a href="#"><img src="assets/layouts/layout3/img/right1.png" /></a>
                            </span>
                            <span class="mrleft">
                                <a href="#"><img src="assets/layouts/layout3/img/icon-color1.png" /></a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="page-head hidden-xs hidden-sm hidden-md">
        <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <div class="col-md-4">
                    <h4>
                        <strong><span><img src="assets/layouts/layout3/img/install.png" /></span> Installer Payments</strong>
                    </h4>
                </div>
                <div class="col-md-8">
                    <ul class="list-inline dottedline pull-right">
                        <span>
                            Search Results:
                        </span>
                        <li><a href="#">Installer:3</a></li>
                        <li><a href="#">Locations:2 </a></li>
                        <li><a href="3">From:3/13/2017</a></li>
                        <li><a href="#">Total Records:324</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    